@mixin cloud-backgrounds {
  @keyframes cloudBackgroundsMove {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  @-webkit-keyframes cloudBackgroundsMove {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  @-moz-keyframes cloudBackgroundsMove {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
  @-ms-keyframes cloudBackgroundsMove {
    from {
      background-position: 0;
    }
    to {
      background-position: 10000px 0;
    }
  }
}
