@mixin hide-frames {
  @-webkit-keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }
  @-moz-keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }
  @-ms-keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }
  @-o-keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }
}
