@mixin moveup-frame {
  @-webkit-keyframes move-up-100 {
    0% {
      opacity: 0;
      -webkit-transform: translateY(100px);
    }
  }
  @-moz-keyframes move-up-100 {
    0% {
      opacity: 0;
      -moz-transform: translateY(100px);
    }
  }
  @-ms-keyframes move-up-100 {
    0% {
      opacity: 0;
      -ms-transform: translateY(100px);
    }
  }
  @-o-keyframes move-up-100 {
    0% {
      opacity: 0;
      -o-transform: translateY(100px);
    }
  }
}
