@mixin move-right-frames {
  @-webkit-keyframes move-right {
    0% {
      -webkit-transform: translateX(-100%);
    }
  }
  @-moz-keyframes move-right {
    0% {
      -moz-transform: translateX(-100%);
    }
  }
  @-ms-keyframes move-right {
    0% {
      -ms-transform: translateX(-100%);
    }
  }
  @-o-keyframes move-right {
    0% {
      -o-transform: translateX(-100%);
    }
  }
}
