@mixin move-left-frames {
  @-webkit-keyframes move-left {
    0% {
      -webkit-transform: translateX(20%);
    }
  }
  @-moz-keyframes move-left {
    0% {
      -moz-transform: translateX(20%);
    }
  }
  @-ms-keyframes move-left {
    0% {
      -ms-transform: translateX(20%);
    }
  }
  @-o-keyframes move-left {
    0% {
      -o-transform: translateX(20%);
    }
  }
}
