@mixin move-up-frames {
  @-webkit-keyframes move-up {
    0% {
      -webkit-transform: translateX(100%);
    }
  }
  @-moz-keyframes move-up {
    0% {
      -moz-transform: translateX(100%);
    }
  }
  @-ms-keyframes move-up {
    0% {
      -ms-transform: translateX(100%);
    }
  }
  @-o-keyframes move-up {
    0% {
      -o-transform: translateX(100%);
    }
  }
}
