@mixin pull-down-frames {
  @-webkit-keyframes pull-down {
    0% {
      -webkit-transform: translateY(-50%);
    }
  }
  @-moz-keyframes pull-down {
    0% {
      -moz-transform: translateY(-50%);
    }
  }
  @-ms-keyframes pull-down {
    0% {
      -ms-transform: translateY(-50%);
    }
  }
  @-o-keyframes pull-down {
    0% {
      -o-transform: translateY(-50%);
    }
  }
}
