@mixin reveal-frames {
  @-webkit-keyframes reveal {
    0% {
      height: 0;
      opacity: 0;
    }
  }
  @-moz-keyframes reveal {
    0% {
      height: 0;
      opacity: 0;
    }
  }
  @-ms-keyframes reveal {
    0% {
      height: 0;
      opacity: 0;
    }
  }
  @-o-keyframes reveal {
    0% {
      height: 0;
      opacity: 0;
    }
  }
}
