@mixin tada-frames {
  @-webkit-keyframes tada {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    10%, 20% {
      -webkit-transform: scale(.9) rotate(-8deg);
      transform: scale(.9) rotate(-8deg);
    }
    30%, 50%, 70% {
      -webkit-transform: scale(1.3) rotate(8deg);
      transform: scale(1.3) rotate(8deg);
    }
    40%, 60% {
      -webkit-transform: scale(1.3) rotate(-8deg);
      transform: scale(1.3) rotate(-8deg);
    }
    80%, 100% {
      -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }
  }
  @keyframes tada {
    0% {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    10%, 20% {
      -ms-transform: scale(.9) rotate(-8deg);
      -webkit-transform: scale(.9) rotate(-8deg);
      transform: scale(.9) rotate(-8deg);
    }
    30%, 50%, 70% {
      -ms-transform: scale(1.3) rotate(8deg);
      -webkit-transform: scale(1.3) rotate(8deg);
      transform: scale(1.3) rotate(8deg);
    }
    40%, 60% {
      -ms-transform: scale(1.3) rotate(-8deg);
      -webkit-transform: scale(1.3) rotate(-8deg);
      transform: scale(1.3) rotate(-8deg);
    }
    80%, 100% {
      -ms-transform: scale(1) rotate(0);
      -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
    }
  }
}
