@mixin buttons {
  .rave-new-buttons {
    background: green;
    color: white;
    font-weight: bold;
    border: none;
  }

  .rave-edit-buttons {
    background: orange;
    color: white;
    font-weight: bold;
    border: none;
  }

  .rave-view-buttons {
    background: dodgerblue;
    color: white;
    font-weight: bold;
    border: none;
  }

  .rave-cancel-buttons {
    background: red;
    color: white;
    font-weight: bold;
    border: none;
  }

  .rave-save-buttons {
    background: forestgreen;
    color: white;
    font-weight: bold;
    border: none;
  }

  .rave-month-buttons {
    background: white;
    color: dodgerblue;
    font-weight: bold;
    border: none;
  }

  .rave-week-buttons {
    background: white;
    color: dodgerblue;
    font-weight: bold;
    border: none;
  }

  .rave-day-buttons {
    background: white;
    color: dodgerblue;
    font-weight: bold;
    border: none;
  }

  .rave-new_event-buttons {
    background: white;
    color: green;
    font-weight: bold;
    border: none;
  }
}