@mixin calendar {
.v-calendar-header-month {
  font-weight: bolder;
  font-size: smaller;
  color: crimson;
}

.v-calendar-header-week {
  font-weight: bolder;
  font-size: smaller;
  color: crimson;
}

.v-calendar-header-day {
  font-weight: bolder;
  font-size: smaller;
  color: crimson;
}

.v-calendar-day-number {
  font-weight: bolder;
  font-size: medium;
  border-top: 1px solid rgba(173, 232, 230, 0.96);
}

.v-calendar-weekly-longevents {
  margin-left: 50px;
  border-bottom: 3px solid rgba(173, 232, 230, 0.96);
}

.v-calendar-day-number:hover {
  color: #17e100;
}}