@mixin labels {
  .total-label {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
  }
  .borrowed-money-label {
    color: dodgerblue;
  }
  .active-loans-label {
    color: #2c9720;
  }
  .day-payments-label {
    color: orange;
  }
  .late-payments-label {
    color: red;
  }
  .software-top-bar-label {
    font-weight: bolder;
    color: $utesa-yellow-color
  }

}
