@mixin panel {
  $white-color: #fff;
  .v-panel {
    background-color: $v-app-background-color;
    border-radius: 0;
  }
  .v-panel .left_panel_menu {
    background-color: $v-app-background-color;
    border-style: none;
  }
  .v-panel-content .v-panel-content-content_panel_menu {
    background: $v-app-background-color;
    border-style: none;
  }
  .logo .v-gridlayout-slot {
    width: 330px;
  }
  .left_panel_menu {
    @include move-right;
  }
  .content_panel {
    @include move-left;
  }
  .v-captiontext center {
    color: $white-color;
    margin-left: 40px;
  }
  .top_bar .v-button:hover {
    background: $utesa-green-color;
    border-radius: 0;
    color: $white-color;
  }
  .top_bar .v-button:focus:after {
    border-color: #fffbff;
    -moz-box-shadow: 0 0 0 0;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  .business_panel {
    margin-left: 10px;
    margin-top: 10px;
  }
  .v-caption-label_informations {
    text-align: center;
  }
  .top_bar {
    background: $utesa-green-color;
    border-bottom: 0;
  }
  .top_bar .v-button {
    border-radius: 0;
    border-style: none;
    color: $white-color;
  }
  .top_bar .v-popupbutton {
    background: $utesa-green-color;
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    text-shadow: 0 0 0 0 !important;
  }
  .top_bar .v-menubar {
    border-radius: 0;
    border-style: none;
    color: $white-color;
  }
  .top_bar .v-menubar:hover {
    background: $utesa-green-color;
    border-radius: 0;
    color: $white-color;
  }
  .top_bar .v-menubar-menuitem-selected {
    background: $utesa-green-color;
    color: $white-color;
  }
  .v-menubar-popup .v-menubar-menuitem:hover {
    background: $utesa-green-color;
    border: 0;
    border-radius: 0;
    color: $white-color;
  }
  .v-menubar-borderless .v-menubar-menuitem {
    color: $white-color;
  }
  .top_bar .v-captiontext {
    color: $white-color;
    font-size: 150%;
    font-weight: bold;
    margin-top: 10px;
  }
  .v-slot .product-panel-active {
    border: 2px solid $color-green-active;
  }
  .v-slot .product-panel-inactive {
    border: 2px solid $color-red-inactive;
  }

}
