.main-background {
    background-image: url("../images/utesa-background.png");
    background-size: cover;
}

.left-main-background {
    background-image: url("../images/polygon-11.jpg");
    background-size: cover;
}
