.navbar-fixed-top {
    border: 1px;
}

.navbar-fixed-top {
    position: fixed !important
}

.navbar-login-button {
    background: lightgreen;
    border-style: dotted;
    border-radius: 2px;
}

.navbar-signup-button {
    background: lightskyblue;
    border-style: dotted;
    border-radius: 2px;
}
