$v-app-loading-text: 'Ing Soft is Loading...';

$utesa-yellow-color: #f5c30e;
$utesa-green-color: #0d8800;
$utesa-light-color: #ebebdd;
$color-green-active: #00ff7f;
$color-red-inactive: #ff8063;
$v-background-color: hsl(0, 0, 99.5%);
$v-app-background-color: #fff;
$v-font-family: 'Open Sans', sans-serif, 'Source Sans Pro';
//$v-focus-color: hsl(146, 85%, 42%);
$v-focus-color: $utesa-yellow-color;
$v-hover-styles-enabled: (default:[literal] true);
$v-focus-style: 0 0 0 2px orange;
$v-primary-button-color: #16b41b;
$v-border: 1px solid (v-shade 0.6);
$v-border-radius: 3px;
$v-bevel: inset 0 1px 0 v-tint;
$v-textfield-bevel: false;
$v-gradient: v-linear 3%;
$v-shadow: false;
$valo-menu-background-color: hsl(218, 20%, 98%);
$v-friendly-color: hsl(115, 100%, 33%);
$v-error-indicator-color: hsl(8, 90%, 45%);

@import '../valo/valo';
@import 'common';
@import 'animations/animations';
@import 'animations/keyframes';
@import 'components/dashboard';
@import 'components/buttons';
@import 'components/calendar';
@import 'components/labels';
@import 'components/login';
@import 'components/panel';
@import 'components/search-menu';

@mixin ingsoft {

  @include valo;
  @include dashboard-common;
  @include dashboard;
  @include buttons;
  @include calendar;
  @include labels;
  @include login;
  @include panel;
  @include search-menu;

  .tests-valo-light .valo-menu .valo-menu-title {
    background: $v-app-background-color;
    color: $v-selection-color;
    text-shadow: none;
    border-color: first-color(valo-border($color: $v-app-background-color, $strength: 0.5));
  }

  .v-grid-row-stripe > td {
    background-color: #b0ffbe;
  }

  .v-button:hover {
    background-color: $utesa-light-color;
    color: $utesa-green-color;
  }

  overflow: hidden;

  .v-label {
    text-align: center;
  }

  .v-grid-header .v-grid-cell {
    background-color: #f5ee5f;
    color: #059621;
    font-weight: bolder;
  }

  .v-button-friendly.v-button-friendly {
    background: #fff;
    border-color: $v-friendly-color;
    color: $v-friendly-color;
  }

  .v-button-primary.v-button-primary {
    background: #fff;
    border-color: $v-primary-button-color;
    color: $v-primary-button-color;
  }

  .v-button-danger.v-button-danger {
    background: #fff;
    border-color: $v-error-indicator-color;
    color: $v-error-indicator-color;
  }

  .v-slider-base:before,
  .v-slider-base:after {
    border: none !important;
  }
  .compose {
    padding-top: 50px;
    .v-icon {
      font-size: 50px;
      color: #ccc;
      padding-bottom: 15px;
    }

    // Make the compose button react when mousing over
    &:hover {
      color: #6edbff;
      .v-icon {
        color: #44b91c;
      }
    }

    // Workaround for always visible scroll bar
    &:after {
      right: 0;
    }
  }

}
