@mixin fade-in($duration: 160ms) {
  -webkit-animation: fade-in $duration ease-out;
  -moz-animation: fade-in $duration ease-out;
  -o-animation: fade-in $duration ease-out;
  animation: fade-in $duration ease-out;
  opacity: 1;
}

@mixin move-up {
  -webkit-animation: move-up 300ms ease-in-out;
  -moz-animation: move-up 300ms ease-in-out;
  -o-animation: move-up 300ms ease-in-out;
}

@mixin move-up-100 {
  -webkit-animation: move-up-100 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -moz-animation: move-up-100 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -o-animation: move-up-100 800ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

@mixin move-right {
  position: relative;
  left: 0;
  -webkit-animation: move-right 1800ms ease-in-out;
  -moz-animation: move-right 1800ms ease-out;
  -o-animation: move-right 1800ms ease-out;
}

@mixin move-left {
  position: relative;
  right: 0;
  -webkit-animation: move-left 1800ms ease-in-out;
  -moz-animation: move-left 1800ms ease-out;
  -o-animation: move-left 1800ms ease-out;

}

@mixin reveal {
  opacity: 1;
  -webkit-animation: reveal 100ms ease-in-out;
  -moz-animation: reveal 100ms ease-in-out;
  -o-animation: reveal 100ms ease-in-out;
}

@mixin hide {
  opacity: 0;
  z-index: 0;
  -webkit-animation: hide 300ms ease-in-out;
  -moz-animation: hide 300ms ease-in-out;
  -o-animation: hide 300ms ease-in-out;
}

@mixin push {
  transform: translate(0, 5px);
  -webkit-transform: translate(0, 5px);
  border-bottom: 1px solid;
}

@mixin background-gradient($delay) {
  -webkit-animation: backgroundGradient $delay ease infinite;
  -moz-animation: backgroundGradient $delay ease infinite;
  -o-animation: backgroundGradient $delay ease infinite;
  animation: backgroundGradient $delay ease infinite;
}

@mixin clouds-background($delay) {
  background: transparent url(/static/images/utesa-background.png) repeat top center;
  z-index: 3;
  -moz-animation: cloudBackgroundsMove $delay linear infinite;
  -o-animation: cloudBackgroundsMove $delay linear infinite;
  -webkit-animation: cloudBackgroundsMove $delay linear infinite;
  animation: cloudBackgroundsMove $delay linear infinite;
}

@mixin tada {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-animation: tada 1s linear infinite;
  -o-animation: tada 1s linear infinite;
  -webkit-animation: tada 1s linear infinite;
  animation: tada 1s linear infinite;
}
